
@{
    ViewBag.Title = "Empleados";
}


<div class="container">
    <div class="row mt-2">
        <h3>@ViewBag.Message</h3>
    </div>





    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-agregar"><i class="fa fa-plus-square"></i> Nuevo</button>



    <div class="row mt-3">
        <div class="col-12">
            <div class="col-6">
                <input type="search" id="search" placeholder="Buscar" class="form-control form-control-sm">
            </div>
            <div>
                <input type="button" value="Reporte" class="btn btn-secondary">
            </div>
            <table id="example1" class="table table-bordered table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido 1</th>
                        <th>Apellido 2</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Tipo de usuario</th>
                        <th>Puesto</th>
                        <th>Oficina</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1231</td>
                        <td>Juanito</td>
                        <td>Montero</td>
                        <td>Peréz</td>
                        <td>juenito@gmail.com</td>
                        <td>Activo</td>
                        <td>Usuario 1</td>
                        <td>Puesto 1</td>
                        <td>Oficina 1</td>
                        <td class="d-flex justify-content-center">
                            <button type="button" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("Listar", "Empleado_Horarios")'"><i class="fas fa-business-time"></i></button>
                            <button type="button" class="btn btn-dark btn-sm" onclick="location.href='@Url.Action("Listar", "Empleado_Ausencias")'"><i class="fas fa-calendar-times"></i></button>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-editar"><i class="fa fa-pen-square"></i> </button>
                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                    <tr>
                        <td>1232</td>
                        <td>Ana</td>
                        <td>Peréz</td>
                        <td>Mendéz</td>
                        <td>ana@gmail.com</td>
                        <td>Activo</td>
                        <td>Usuario 1</td>
                        <td>Puesto 1</td>
                        <td>Oficina 1</td>
                        <td class="d-flex justify-content-center">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-editar"><i class="fa fa-pen-square"></i> </button>
                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                    <tr>
                        <td>12313</td>
                        <td>Pedro</td>
                        <td>Montero</td>
                        <td>Villalobos</td>
                        <td>pedro@gmail.com</td>
                        <td>Activo</td>
                        <td>Usuario 1</td>
                        <td>Puesto 1</td>
                        <td>Oficina 1</td>
                        <td class="d-flex justify-content-center">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-editar"><i class="fa fa-pen-square"></i> </button>
                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>








    <!-- Modal de agregar -->


    <div class="modal fade" id="modal-agregar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Añadir nueva empleado</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="font-weight-normal" for="cedula">Cédula:</label>
                            <input type="text" class="form-control form-control-sm" id="cedula" placelaceholder="Ingrese cédula">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="nombre">Nombre:</label>
                            <input type="text" class="form-control form-control-sm" id="nombre" placelaceholder="Ingrese nombre">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="apUno">Primer apellido:</label>
                            <input type="text" class="form-control form-control-sm" id="apUno" placelaceholder="Ingrese primer apellido">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="apDos">Segundo apellido:</label>
                            <input type="text" class="form-control form-control-sm" id="apDos" placelaceholder="Ingrese segundo apellido">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="correo">SCorreo:</label>
                            <input type="text" class="form-control form-control-sm" id="correo" placelaceholder="Ingrese correo">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="tipo">Tipo de usuario:</label>
                            <select class="form-control form-control-sm" id="tipo">
                                <option>Usuario 1</option>
                                <option>Usuario 2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="estado">Estado de usuario:</label>
                            <select class="form-control form-control-sm" id="estado">
                                <option>Activo</option>
                                <option>Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="puesto">Puesto:</label>
                            <select class="form-control form-control-sm" id="puesto">
                                <option>Puesto 1</option>
                                <option>Puesto 2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="oficina">Oficina:</label>
                            <select class="form-control form-control-sm" id="oficina">
                                <option>Oficina 1</option>
                                <option>Oficina 2</option>
                            </select>
                        </div>
                    </form>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div>
                        <button type="button" class="btn btn-info">Editar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- Modal de editar -->


    <div class="modal fade" id="modal-editar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modificar Empleado</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="font-weight-normal" for="cedula">Cédula:</label>
                            <input type="text" class="form-control form-control-sm" id="cedula" placelaceholder="Ingrese cédula">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="nombre">Nombre:</label>
                            <input type="text" class="form-control form-control-sm" id="nombre" placelaceholder="Ingrese nombre">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="apUno">Primer apellido:</label>
                            <input type="text" class="form-control form-control-sm" id="apUno" placelaceholder="Ingrese primer apellido">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="apDos">Segundo apellido:</label>
                            <input type="text" class="form-control form-control-sm" id="apDos" placelaceholder="Ingrese segundo apellido">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="correo">SCorreo:</label>
                            <input type="text" class="form-control form-control-sm" id="correo" placelaceholder="Ingrese correo">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="tipo">Tipo de usuario:</label>
                            <select class="form-control form-control-sm" id="tipo">
                                <option>Usuario 1</option>
                                <option>Usuario 2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="estado">Estado de usuario:</label>
                            <select class="form-control form-control-sm" id="estado">
                                <option>Activo</option>
                                <option>Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="puesto">Puesto:</label>
                            <select class="form-control form-control-sm" id="puesto">
                                <option>Puesto 1</option>
                                <option>Puesto 2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="oficina">Oficina:</label>
                            <select class="form-control form-control-sm" id="oficina">
                                <option>Oficina 1</option>
                                <option>Oficina 2</option>
                            </select>
                        </div>
                    </form>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div>
                        <button type="button" class="btn btn-info">Editar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

